* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 8vh;
    width: 100%;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 2px solid black;

    navbar {
        width: 35%;
        z-index: 1;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: black;
    }
    .burger {
        display: none;
        cursor: pointer;
        .line {
            
            height: 5px;
            width: 35px;
            margin: 3px;
            background: black;
        }
    }
}
.backdrop-image {
    width: 100%
}
footer {
    position: relative;
    bottom: 0px;
    height: 8vh;
    width: 100%;
    border-top: 2px solid black;
    display: flex;
    align-items: center;

    .socials {
        width: 50%;
        .socials-list { 
            display: flex;
            justify-content: space-around;
            align-items: center;
            list-style-type: none;
            img {
                max-width: 30px
            }
        }
    }
    .contact {
        width: 50%;
        .contact-list {
            list-style-type: none
        }
    }
}

// blog cards
.blog-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
}
.blog-links {
    text-decoration: none;
    color: black;
    padding-bottom: 60px;
}
.blog-image {
    img {
        max-width: 100%;
        max-height: 100%;
        box-shadow: 2px 2px 10px grey;
    }
}
.blog-content {
    padding-top: 20px;
}

// Blog view page
.blog-view-image {
    width: 80%;
    img {
        max-width: 100%;
    }
}
// About page
.about-main {
    display: grid;
    width: 100vw;
    grid-template-columns: 1;
    grid-template-rows: repeat(4, 1fr);
    margin: 40px 0;
    img {
        max-width: 100%;
    }
}





// Mobile layout
@media screen and (max-width: 630px) {
    header {
        justify-content: space-between;
        padding: 0px 40px;
        .burger {
            display: inline-block;
        }
    }
    navbar {
        position: fixed;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: grey;
        transform: translatex(100%);
           .nav-list {
               display: flex;
               flex-direction: column;
               justify-content: space-around;
               height: 50%;
               align-items: center;
           }
    }
    // Jquery classes for navbar
    .nav-visible {
        transform: translatex(0);
        transition: 1s;
    }
    .nav-hidden {
        transform: translatex(100%);
        transition: 1s;
    }
    //Mobile blog cards
    .blog-card {
        width: 400px;
    }

    //Mobile about grid
    .about-main {
        height: 1000px;
        padding: 0px 80px;
    }
    
    
}