* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

header {
  height: 8vh;
  width: 100%;
  background: #1d3557;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 8px solid #457b9d;
  color: #e7e6e6;
}
header navbar {
  width: 35%;
  z-index: 1;
}
header .nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header .nav-list a {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #e7e6e6;
}
header .nav-list .active:hover {
  color: white;
  background: black;
}
header .burger {
  display: none;
  cursor: pointer;
}
header .burger .line {
  height: 5px;
  width: 35px;
  margin: 3px;
  background: #e7e6e6;
}

.home-main {
  background: #eaf2f8;
  height: 84vh;
}

.welcome {
  position: absolute;
  top: 13%;
  left: 6%;
}

.backdrop-image {
  width: 100%;
}

footer {
  position: relative;
  bottom: 0px;
  height: 8vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1d3557;
}
footer .socials {
  width: 50%;
}
footer .socials .socials-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
footer .socials .socials-list img {
  max-width: 30px;
}
footer .contact {
  width: 50%;
}
footer .contact .contact-list {
  list-style-type: none;
  color: #e7e6e6;
}

.work-main {
  height: 84vh;
  padding: 4%;
  background: #eaf2f8;
}
.work-main .work-info {
  margin-bottom: 50px;
}
.work-main .work-info h3 {
  font-size: 1.5em;
  text-decoration: underline;
  padding-bottom: 0.5em;
}
.work-main .work-info ul {
  position: relative;
  left: 20px;
}
.work-main .work-info a {
  font-weight: bold;
}

.blog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
  background: #eaf2f8;
}

.blog-card {
  width: 400px;
}

.blog-links {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.blog-image img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 2px 10px grey;
}

.blog-view-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 84vh;
}
.blog-view-main .blog-view-img {
  width: 500px;
}
.blog-view-main .blog-view-img img {
  max-width: 100%;
}

.blog-content {
  padding-top: 20px;
}

.contact-main {
  height: 84vh;
  display: flex;
  justify-content: center;
  background: #eaf2f8;
}
.contact-main img {
  max-width: 100%;
}

.contact-form {
  position: absolute;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px 20px 40px 20px;
  height: 40%;
}
.contact-form button {
  width: 30%;
  align-self: center;
}

.about-main {
  display: grid;
  width: 100vw;
  background: #eaf2f8;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  padding: 2%;
}
.about-main h3 {
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 10px;
}

.bio-pic {
  grid-column: 1/span 1;
  grid-row: 1/span 1;
  width: 80%;
  justify-self: center;
}
.bio-pic img {
  max-width: 100%;
  border: 10px solid #1d3557;
  border-radius: 5px;
}

.bio-info {
  padding: 20px;
  grid-column: 2/span 1;
  grid-row: 1/span 1;
}

.about-pic2 {
  grid-column: 1/span 1;
  grid-row: 3/span 1;
  justify-self: center;
  width: 90%;
}
.about-pic2 img {
  max-width: 100%;
  border: 10px solid #1d3557;
  border-radius: 5px;
}

.about-info2 {
  grid-column: 2/span 1;
  grid-row: 3/span 1;
  padding: 20px;
}

.about-pic1 {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
  justify-self: center;
  width: 90%;
}
.about-pic1 img {
  max-width: 100%;
  border: 10px solid #1d3557;
  border-radius: 5px;
}

.about-info1 {
  padding: 20px;
  grid-column: 1/span 1;
  grid-row: 2/span 1;
}

@media screen and (min-width: 1008px) {
  footer {
    padding: 0px 50px 0px 50px;
  }
  footer .socials {
    width: 35%;
  }
  footer .contact {
    width: 35%;
  }

  .about-main {
    padding: 2% 15% 2% 15%;
    height: 84vh;
  }

  .contact-form {
    width: 50%;
  }
}
@media screen and (max-width: 1007px) {
  .nav-list a {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .nav-list a:hover {
    color: white;
    background: darkgrey;
  }

  footer .socials {
    width: 40%;
  }
  footer .contact {
    width: 45%;
  }

  .about-main {
    padding: 2% 8%;
  }

  .blog-card {
    width: 300px;
  }

  .blog-view-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .blog-view-main .blog-view-img {
    width: 500px;
  }
  .blog-view-main .blog-view-img img {
    max-width: 100%;
  }

  .contact-form {
    width: 60%;
  }
}
@media screen and (max-width: 680px) {
  header {
    justify-content: space-between;
    padding: 0px 40px;
  }
  header .burger {
    display: inline-block;
  }

  navbar {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: #1d3557;
    transform: translatex(100%);
  }
  navbar .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-items: center;
  }
  navbar .nav-list a {
    letter-spacing: 1px;
    border-bottom: 2px solid #e7e6e6;
    border-radius: 0;
  }

  footer .socials {
    width: 40%;
  }
  footer .socials .socials-list img {
    max-width: 25px;
  }
  footer .contact {
    width: 55%;
    font-size: 12px;
  }

  .nav-visible {
    transform: translatex(0);
    transition: 1s;
  }

  .nav-hidden {
    transform: translatex(100%);
    transition: 1s;
  }

  .blog-card {
    width: 400px;
  }

  .blog-view-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .blog-view-main .blog-view-img {
    width: 400px;
  }
  .blog-view-main .blog-view-img img {
    max-width: 100%;
  }

  .contact-form {
    width: 70%;
  }

  .about-main {
    padding: 4%;
  }

  .bio-pic {
    width: 100%;
    align-self: center;
  }
  .bio-pic img {
    border: 3px solid #1d3557;
  }

  .about-pic1 {
    width: 100%;
    align-self: center;
  }
  .about-pic1 img {
    border: 3px solid #1d3557;
  }

  .about-pic2 {
    width: 100;
    align-self: center;
  }
  .about-pic2 img {
    border: 3px solid #1d3557;
  }
}

/*# sourceMappingURL=style.css.map */
