* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header {
    height: 8vh;
    width: 100%;
    background: grey;
    display: flex;
    justify-content: space-around;
    align-items: center;

    navbar {
        width: 35%;
    }
    .nav-list {
        display: flex;
        justify-content: space-between;
        list-style-type: none;

    }
    .burger {
        display: none;
        .line {
            height: 6px;
            width: 35px;
            margin: 4px;
        }
    }
}
.backdrop-image {
    width: 100%
}

@media screen and (max-width: 630px) {
    .burger {
        display: inline-block;
        .line {
            height: 6px;
            width: 35px;
            margin: 4px;
        }
    } 

    navbar {
        position: relative;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background: black;
        color: grey;    
    }
}