* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header {
  height: 8vh;
  width: 100%;
  background: grey;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid black;
}
header navbar {
  width: 35%;
  z-index: 1;
}
header .nav-list {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
header .nav-list a {
  padding: 5px 10px;
  border-radius: 5px;
  text-decoration: none;
  color: black;
}
header .nav-list a:hover {
  color: white;
  background: darkgrey;
}
header .burger {
  display: none;
  cursor: pointer;
}
header .burger .line {
  height: 5px;
  width: 35px;
  margin: 3px;
  background: black;
}

.welcome {
  position: absolute;
  top: 100px;
  left: 20px;
}

.backdrop-image {
  width: 100%;
}

footer {
  position: relative;
  bottom: 0px;
  height: 8vh;
  width: 100%;
  border-top: 2px solid black;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer .socials {
  width: 50%;
}
footer .socials .socials-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}
footer .socials .socials-list img {
  max-width: 30px;
}
footer .contact {
  width: 50%;
}
footer .contact .contact-list {
  list-style-type: none;
}

.blog-main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 50px;
}

.blog-card {
  width: 400px;
}

.blog-links {
  text-decoration: none;
  color: black;
  margin: 20px;
}

.blog-image img {
  max-width: 100%;
  max-height: 100%;
  box-shadow: 2px 2px 10px grey;
}

.blog-view-main {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 84vh;
}
.blog-view-main .blog-view-img {
  width: 500px;
}
.blog-view-main .blog-view-img img {
  max-width: 100%;
}

.blog-content {
  padding-top: 20px;
}

.contact-main {
  height: 84vh;
  display: flex;
  justify-content: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  margin: 20px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 10px;
  width: 70%;
  height: 70%;
}

.about-main {
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 40px 0;
}
.about-main img {
  max-width: 100%;
}
.about-main .about-pic2 {
  grid-column: 2/span 1;
  grid-row: 2/span 1;
}
.about-main .about-info2 {
  grid-column: 1/span 1;
  grid-row: 2/span 1;
  padding: 20px;
}
.about-main .about-pic1 {
  grid-column: 1/span 1;
}
.about-main .about-info1 {
  padding: 20px;
  grid-column: 2/span 1;
}

@media screen and (max-width: 1007px) {
  .nav-list a {
    padding: 5px 10px;
    border-radius: 5px;
  }
  .nav-list a:hover {
    color: white;
    background: darkgrey;
  }

  footer .socials {
    width: 40%;
  }
  footer .contact {
    width: 40%;
  }

  .pen {
    width: 50%;
    border: 2px solid red;
  }

  .blog-card {
    width: 350px;
  }

  .blog-view-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .blog-view-main .blog-view-img {
    width: 500px;
  }
  .blog-view-main .blog-view-img img {
    max-width: 100%;
  }
}
@media screen and (max-width: 630px) {
  header {
    justify-content: space-between;
    padding: 0px 40px;
  }
  header .burger {
    display: inline-block;
  }

  navbar {
    position: fixed;
    right: 0px;
    height: 92vh;
    top: 8vh;
    background: grey;
    transform: translatex(100%);
  }
  navbar .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 50%;
    align-items: center;
  }

  footer .socials {
    width: 50%;
  }
  footer .contact {
    width: 50%;
  }

  .nav-visible {
    transform: translatex(0);
    transition: 1s;
  }

  .nav-hidden {
    transform: translatex(100%);
    transition: 1s;
  }

  .blog-card {
    width: 400px;
  }

  .blog-view-main {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }
  .blog-view-main .blog-view-img {
    width: 400px;
  }
  .blog-view-main .blog-view-img img {
    max-width: 100%;
  }
}

/*# sourceMappingURL=style.css.map */
